@media screen and (min-width: 1000px ) {
    #row0{
        height: 100px;
        width: 120%;
        border-bottom: 5px solid #006400;
        position: fixed;
        background-color: white;
    } 
    .nav-item #fb, #wts,#insta{
        width: 50px; 
        height: 50px;
        /* justify-content: center; */
        border: 5px solid #006400;
        border-radius: 35px;
        padding: 5px;
    }
    .nav-item #basket{
        width: 40px;
        height: 40px;
    }
    .nav-item #count-el{
        background-color: red;
        border: 5px solid red;
        border-radius: 10px;
        color: #f7f7f7;
        font-size: 15px;
        position: relative;
        top: 20px;
        position: fixed;
    }
    .nav-item #logo{
        width: 220px;
        height: 80px;
    }
    li a #wtsapp img{
        width: 32px; 
        height: 32px;
    }
    li a #insta img{
        width: 32px; 
        height: 32px;
    }
    #row2 p{
        width: 1400px;
        height: 11vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        background-color: darkgreen;
        color: white;
        padding-block: 10px;
    }
    a img[alt="wts"]{
        width: 70px;
        height: 70px;
        cursor: pointer;
        position: fixed;
        margin-inline-start: 1270px;
    } 
    .cart-item img[alt="pr"]{
        width: 500px;
        height: 400px;
        margin: 10px;
    } 
    .cart-item img:hover{
        border:5px solid darkgreen;
        border-radius: 3px;
    }
    .cart-item #pic1 , #pic3 , #pic5 , #pic7{
        margin-left: 15%;
    }
    .cart-item #pic2 , #pic4 , #pic6 , #pic8{
        margin-inline: 15%;
    }
    .cart-item #pic9{
        margin-inline: 32%;
    }
    .cart-item .content1, .content2, .content3, .content4, .content5, .content6, .content7, .content8{
        width: 500px;
        height: 35vh;
        text-align: center;
        background-color: darkgreen;
        color: white;
        padding: 13px;
        margin-top: -2%;
        margin-left: 15%;
        margin-bottom: 15%;
    }
    .cart-item .content9{
        width: 500px;
        height: 35vh;
        text-align: center;
        background-color: darkgreen;
        color: white;
        padding: 13px;
        margin-top: -1%;
        margin-left: 32%;
        margin-bottom: 15%;
    }
    .cart-item #cont .prix{
        margin-inline-start: -2%;
        color: yellow;
        font-size:32px;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .counter{
        position: relative;
        top: -35px;
        left: -150px;
    }
    .minus{
        border: 3px solid white; 
        color: #006400;
        position: relative;
        top: 35px;
        left: 90px;
        font-weight: bolder;
        font-size: x-large;
        width: 30px; 
        height: 30px;
        cursor: pointer;
    }
    .h12{
        border: 3px solid white; 
        background-color: white;
        font-size: large;
        font-weight: bold;
        color: darkgreen;
        margin-left: 350px;
        width: 60px; 
        height: 30px;
    }
    .plus{
        border: 3px solid white; 
        color: #006400;
        position: relative;
        top: -30px;
        left: 250px;
        font-weight: bolder;
        font-size: x-large;
        width: 30px; 
        height: 30px;
        cursor: pointer;
    }
    .counter img{
        position: relative;
        top: -45px;
        left: 250px;
    }
    .cart-item #cont img{
        width: 40px;
        height:40px; 
        cursor: pointer;
    }
    .cart-item #cont #name{
        font-size: 40px;
    }
    .cart-item #cont #ti{
        background-color: white;
        color: #006400;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        width: 60px;
        height: 30px;
        border: 3px solid;
        text-align: center;
        margin-inline-start: 200px;
        margin-block-start: 10px;
        border: none;
        padding-top: 4px;
    }
    footer{
        background-color: #006400;
    }
    .footer img{
        width: 400px;
        height: 200px;
    }
    .liv{
        border: none;
        font-size: 40px;
        font-weight: bolder;
        color: rgb(255, 242, 0);
        position: relative;
        left: 425px;
        /* margin-top: -5%; */
    }
    .liv b{
        display: block;
    }
    .share a img{
        height: 6rem;
        width: 6rem;
    }
    .horaire{
        width: 400px;
        font-size: 20px;
        color: rgb(255, 242, 0);
        /* display: block;  */
        margin-top: 5%;
        margin-inline-start: -10%;
    }
    form{
        margin-block-start: -8%;
        /* margin-inline-start:-20% ; */
    }
    form input[type="text"]{
        width: 300px;
        height: 50px;
        border: 4px solid darkgreen;
        border-radius: 8px;
    }
    
    form input[type="text"]::placeholder{
        color: #029243;
        font-size: large;
        padding: 4px;
    }
    .footer form button{
        width: 110px;
        height: 50px;
        border: 3px solid darkgreen;
        border-radius: 6px;
        color: white;
        background-color: darkgreen;
        font-size: x-large;
    }
    .footer form button:hover{
        background-color: white;
        color: darkgreen;
    }
    p b{
        visibility: hidden;
    }
    #title{
        text-align: end;
    }
    #prg{
        text-align: end;
    }
    footer #hours{
        text-align: end;
    }
    footer #livar{
        text-align: end;
        margin-inline-start: -58px;
    }
    footer input[id="ar"]::placeholder{
        text-align: end;
    }
}