*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    /* overflow-x:hidden; */
    margin:0px;
    padding: 0px;
    background: url("pictures/backgr.jpeg");
}
.container-fluid{
    display: flex;
    flex-direction: row;
}
#row0{
    border-bottom: 5px solid darkgreen;
    position: fixed;
    background-color: white;
}
#row1 img{
    margin-block-start: 50px;
    width: 100%;
    height: 450px;
}
/* li #fb img ,#wts img,#insta img{
    width: 40px;
    height: 40px;
} */
#row2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: darkgreen;
    color: white;
}
#row3 h3{
    font-size: 40px;
    font-weight: 800;
    color: #006400;
    margin-bottom: 7px;
    margin: 10px;
    padding: 20px;
}
#row3 p{
    margin-left: -13px;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    margin: 10px;
    padding: 20px;
}

/* 
.cart-item img[alt="pr"]{
    width: 500px;
    height: 400px;
    /*padding: 20px;*/
    /* margin: 10px; */
    /* float: right; */
    /* position: relative;
    top: 0px;
    left: 30px; */
    /* display: flex; 
}  
.cart-item img:hover{
    border:5px solid darkgreen;
    border-radius: 3px;
}*/
/* .cart-item #pic1{
    margin-left: 15%;
}
.cart-item #pic2{
    margin-inline: 15%;
} */
/* .cart-item #cont{
    width: 500px;
    height: 35vh;
    text-align: center;
    background-color: darkgreen;
    color: white;
    padding: 13px;
    margin-top: -2%;
    margin-left: 15%;
} */
.cart-item #cont .prix{
    margin-inline-start: -2%;
    color: yellow;
    font-size:32px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
}
.counter{
    /* position: relative;
    top: -35px;
    left: -150px; */
    margin-top: -1%;
    margin-inline-start: -20%;
}
/* .minus{
    display: inline;
    margin-left: 20%;
    border: 3px solid white; 
    color: #006400;
    /* position: relative;
    top: 30px;
    left: 75px; 
    font-weight: bolder;
    font-size: x-large;
    width: 30px; 
    height: 30px;
    cursor: pointer;
}
.h12{
    display: inline;
    margin-left: 2%;
    margin-block-end: 6%;
    border: 3px solid white; 
    background-color: white;
    font-size: large;
    font-weight: bold;
    color: darkgreen;
    width: 60px; 
    height: 30px;
}
.plus{
    display: inline;
    margin-left: 2%;
    border: 3px solid white; 
    color: #006400;
     position: relative;
    top: -30px;
    left: 210px; 
    font-weight: bolder;
    font-size: x-large;
    width: 30px; 
    height: 30px;
    cursor: pointer;
} */
.cart-item #cont img{
    width: 40px;
    height:40px; 
    /* viewbox :"0 0 28 26"; */
    /* position: relative;
    top: -110px;
    left: 330px; */
    cursor: pointer;
}
.cart-item #cont #name{
    font-size: 40px;
}
.cart-item #cont #ti{
    background-color: white;
    color: #006400;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 60px;
    height: 30px;
    border: 3px solid;
    text-align: center;
    margin-inline-start: 200px;
    margin-block-start: 10px;
    border: none;
    padding-top: 4px;
}
.counter{
    margin-inline-start: 2%;
}
.counter img{
    margin-left: 10%;
}
/* .cart-item .content9{
    margin-inline-start: 10%;
} */
.cart-item #cont .poids button{
    font-size: 20px;
    border: 3px solid ;
    background-color: white;
    color: #006400;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 60px;
    height: 30px;
    font-weight: bolder;
    /* padding: 5px; */
    margin-inline-start: 10px;
    cursor: pointer;
    /* margin-block:10px ; */
}
.cart-item #cont .poids button:hover{
    background-color: #006400;
    color: white;
}

